In [1]:
import pandas as pd,numpy as np

In [2]:
df = pd.read_csv('v1.2.csv')

In [3]:
df.head()

,Unnamed: 0,Unnamed: 1,GLASSDOOR JOBS,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Competitors,Revenue,Sector,Industry,Ownership Type,Founded,Size,Headquarters,Location,Name,Rating,Description,Salary,Title,index
3,"EmblemHealth, UnitedHealth Group, Aetna",Unknown / Non-Applicable,Insurance,Insurance Carriers,Nonprofit Organization,1993,1001 to 5000 employees,"New York, NY","New York, NY",Healthfirst\n3.1,3.1,Description\n\nThe Senior Data Scientist is re...,$137K-$171K (Glassdoor est.),Sr Data Scientist,0
4,-1,$1 to $2 billion (USD),Business Services,Research & Development,Company - Public,1968,5001 to 10000 employees,"Herndon, VA","Chantilly, VA",ManTech\n4.2,4.2,"Secure our Nation, Ignite your Future\n\nJoin ...",$137K-$171K (Glassdoor est.),Data Scientist,1

For some reason the top rows are yielding NANs. Let's check the dataset and inspect

In [4]:
## The first few rows are blanks as you saw when you opened the dataset in Excel/Sheets
##Let's go ahead and Skip them

### Task-1

Read the dataset 'DS_Jobs.csv' and load it into a dataframe. Note that it contains some blanks in the beginning.

In [5]:
##You can use the skiprows functionality of the dataset to do this.
df = pd.read_csv('v1.2.csv', skiprows = 3)

In [6]:
df.head()

,Competitors,Revenue,Sector,Industry,Ownership Type,Founded,Size,Headquarters,Location,Name,Rating,Description,Salary,Title,index
0,"EmblemHealth, UnitedHealth Group, Aetna",Unknown / Non-Applicable,Insurance,Insurance Carriers,Nonprofit Organization,1993,1001 to 5000 employees,"New York, NY","New York, NY",Healthfirst\n3.1,3.1,Description\n\nThe Senior Data Scientist is re...,$137K-$171K (Glassdoor est.),Sr Data Scientist,0
1,-1,$1 to $2 billion (USD),Business Services,Research & Development,Company - Public,1968,5001 to 10000 employees,"Herndon, VA","Chantilly, VA",ManTech\n4.2,4.2,"Secure our Nation, Ignite your Future\n\nJoin ...",$137K-$171K (Glassdoor est.),Data Scientist,1
2,-1,$100 to $500 million (USD),Business Services,Consulting,Private Practice / Firm,1981,1001 to 5000 employees,"Boston, MA","Boston, MA",Analysis Group\n3.8,3.8,Overview\n\n\nAnalysis Group is one of the lar...,$137K-$171K (Glassdoor est.),Data Scientist,2
3,"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",$100 to $500 million (USD),Manufacturing,Electrical & Electronic Manufacturing,Company - Public,2000,501 to 1000 employees,"Bad Ragaz, Switzerland","Newton, MA",INFICON\n3.5,3.5,JOB DESCRIPTION:\n\nDo you have a passion for ...,$137K-$171K (Glassdoor est.),Data Scientist,3
4,"Commerce Signals, Cardlytics, Yodlee",Unknown / Non-Applicable,Business Services,Advertising & Marketing,Company - Private,1998,51 to 200 employees,"New York, NY","New York, NY",Affinity Solutions\n2.9,2.9,Data Scientist\nAffinity Solutions / Marketing...,$137K-$171K (Glassdoor est.),NaN,4

In [7]:
##let's drop the index column
df.drop(['index'], axis=1,inplace=True)

In [8]:
df.head()

,Competitors,Revenue,Sector,Industry,Ownership Type,Founded,Size,Headquarters,Location,Name,Rating,Description,Salary,Title
0,"EmblemHealth, UnitedHealth Group, Aetna",Unknown / Non-Applicable,Insurance,Insurance Carriers,Nonprofit Organization,1993,1001 to 5000 employees,"New York, NY","New York, NY",Healthfirst\n3.1,3.1,Description\n\nThe Senior Data Scientist is re...,$137K-$171K (Glassdoor est.),Sr Data Scientist
1,-1,$1 to $2 billion (USD),Business Services,Research & Development,Company - Public,1968,5001 to 10000 employees,"Herndon, VA","Chantilly, VA",ManTech\n4.2,4.2,"Secure our Nation, Ignite your Future\n\nJoin ...",$137K-$171K (Glassdoor est.),Data Scientist
2,-1,$100 to $500 million (USD),Business Services,Consulting,Private Practice / Firm,1981,1001 to 5000 employees,"Boston, MA","Boston, MA",Analysis Group\n3.8,3.8,Overview\n\n\nAnalysis Group is one of the lar...,$137K-$171K (Glassdoor est.),Data Scientist
3,"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",$100 to $500 million (USD),Manufacturing,Electrical & Electronic Manufacturing,Company - Public,2000,501 to 1000 employees,"Bad Ragaz, Switzerland","Newton, MA",INFICON\n3.5,3.5,JOB DESCRIPTION:\n\nDo you have a passion for ...,$137K-$171K (Glassdoor est.),Data Scientist
4,"Commerce Signals, Cardlytics, Yodlee",Unknown / Non-Applicable,Business Services,Advertising & Marketing,Company - Private,1998,51 to 200 employees,"New York, NY","New York, NY",Affinity Solutions\n2.9,2.9,Data Scientist\nAffinity Solutions / Marketing...,$137K-$171K (Glassdoor est.),NaN

### Task - 2 
Notice the column names. On checking the data dictionary, some of them describe the company demographics whereas the other columns denote the job role specific details. Right now, it's not very understandable which one's which. To make it more readable rename the columns by adding a prefix 'C_' for all the Company columns and a 'J_' prefix for all the Job columns

In [9]:
cols = df.columns

In [10]:
cols

Index(['Competitors', 'Revenue', 'Sector', 'Industry', 'Ownership Type',
       'Founded', 'Size', 'Headquarters', 'Location', 'Name', 'Rating',
       'Description', 'Salary', 'Title'],
      dtype='object')

In [11]:
l1 = 'C_' + cols[0:11]

In [12]:
l2 = 'J_' + cols[11:14]

In [13]:
newlist = l1.append(l2)

In [14]:
df.columns = newlist

In [15]:
df.head(5)

,C_Competitors,C_Revenue,C_Sector,C_Industry,C_Ownership Type,C_Founded,C_Size,C_Headquarters,C_Location,C_Name,C_Rating,J_Description,J_Salary,J_Title
0,"EmblemHealth, UnitedHealth Group, Aetna",Unknown / Non-Applicable,Insurance,Insurance Carriers,Nonprofit Organization,1993,1001 to 5000 employees,"New York, NY","New York, NY",Healthfirst\n3.1,3.1,Description\n\nThe Senior Data Scientist is re...,$137K-$171K (Glassdoor est.),Sr Data Scientist
1,-1,$1 to $2 billion (USD),Business Services,Research & Development,Company - Public,1968,5001 to 10000 employees,"Herndon, VA","Chantilly, VA",ManTech\n4.2,4.2,"Secure our Nation, Ignite your Future\n\nJoin ...",$137K-$171K (Glassdoor est.),Data Scientist
2,-1,$100 to $500 million (USD),Business Services,Consulting,Private Practice / Firm,1981,1001 to 5000 employees,"Boston, MA","Boston, MA",Analysis Group\n3.8,3.8,Overview\n\n\nAnalysis Group is one of the lar...,$137K-$171K (Glassdoor est.),Data Scientist
3,"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",$100 to $500 million (USD),Manufacturing,Electrical & Electronic Manufacturing,Company - Public,2000,501 to 1000 employees,"Bad Ragaz, Switzerland","Newton, MA",INFICON\n3.5,3.5,JOB DESCRIPTION:\n\nDo you have a passion for ...,$137K-$171K (Glassdoor est.),Data Scientist
4,"Commerce Signals, Cardlytics, Yodlee",Unknown / Non-Applicable,Business Services,Advertising & Marketing,Company - Private,1998,51 to 200 employees,"New York, NY","New York, NY",Affinity Solutions\n2.9,2.9,Data Scientist\nAffinity Solutions / Marketing...,$137K-$171K (Glassdoor est.),NaN

#### Bonus tip
In the above case you were adding 2 different prefixes to the columns. In case a single prefix is to be added, you can use the **add_prefix** functionality. Here's a small demo

In [16]:
#make a copy of the original dataframe
df2 = df.copy()

In [17]:
df2.add_prefix('Glassdoor_').head(5)

,Glassdoor_C_Competitors,Glassdoor_C_Revenue,Glassdoor_C_Sector,Glassdoor_C_Industry,Glassdoor_C_Ownership Type,Glassdoor_C_Founded,Glassdoor_C_Size,Glassdoor_C_Headquarters,Glassdoor_C_Location,Glassdoor_C_Name,Glassdoor_C_Rating,Glassdoor_J_Description,Glassdoor_J_Salary,Glassdoor_J_Title
0,"EmblemHealth, UnitedHealth Group, Aetna",Unknown / Non-Applicable,Insurance,Insurance Carriers,Nonprofit Organization,1993,1001 to 5000 employees,"New York, NY","New York, NY",Healthfirst\n3.1,3.1,Description\n\nThe Senior Data Scientist is re...,$137K-$171K (Glassdoor est.),Sr Data Scientist
1,-1,$1 to $2 billion (USD),Business Services,Research & Development,Company - Public,1968,5001 to 10000 employees,"Herndon, VA","Chantilly, VA",ManTech\n4.2,4.2,"Secure our Nation, Ignite your Future\n\nJoin ...",$137K-$171K (Glassdoor est.),Data Scientist
2,-1,$100 to $500 million (USD),Business Services,Consulting,Private Practice / Firm,1981,1001 to 5000 employees,"Boston, MA","Boston, MA",Analysis Group\n3.8,3.8,Overview\n\n\nAnalysis Group is one of the lar...,$137K-$171K (Glassdoor est.),Data Scientist
3,"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",$100 to $500 million (USD),Manufacturing,Electrical & Electronic Manufacturing,Company - Public,2000,501 to 1000 employees,"Bad Ragaz, Switzerland","Newton, MA",INFICON\n3.5,3.5,JOB DESCRIPTION:\n\nDo you have a passion for ...,$137K-$171K (Glassdoor est.),Data Scientist
4,"Commerce Signals, Cardlytics, Yodlee",Unknown / Non-Applicable,Business Services,Advertising & Marketing,Company - Private,1998,51 to 200 employees,"New York, NY","New York, NY",Affinity Solutions\n2.9,2.9,Data Scientist\nAffinity Solutions / Marketing...,$137K-$171K (Glassdoor est.),NaN

Similarly the **add_suffix** command addes a suffix to each of the column names

### Task - 3

As per the given data dictionary and also for ease of understanding, the job role specific columns should be in the beginning and the company specific columns should be after that. Reorder the dataframe so that the columns as per this order.

In [18]:
#Let's develop the logic so that we can do it in one step

In [21]:
df.loc[:,:]

,C_Competitors,C_Revenue,C_Sector,C_Industry,C_Ownership Type,C_Founded,C_Size,C_Headquarters,C_Location,C_Name,C_Rating,J_Description,J_Salary,J_Title
0,"EmblemHealth, UnitedHealth Group, Aetna",Unknown / Non-Applicable,Insurance,Insurance Carriers,Nonprofit Organization,1993,1001 to 5000 employees,"New York, NY","New York, NY",Healthfirst\n3.1,3.1,Description\n\nThe Senior Data Scientist is re...,$137K-$171K (Glassdoor est.),Sr Data Scientist
1,-1,$1 to $2 billion (USD),Business Services,Research & Development,Company - Public,1968,5001 to 10000 employees,"Herndon, VA","Chantilly, VA",ManTech\n4.2,4.2,"Secure our Nation, Ignite your Future\n\nJoin ...",$137K-$171K (Glassdoor est.),Data Scientist
2,-1,$100 to $500 million (USD),Business Services,Consulting,Private Practice / Firm,1981,1001 to 5000 employees,"Boston, MA","Boston, MA",Analysis Group\n3.8,3.8,Overview\n\n\nAnalysis Group is one of the lar...,$137K-$171K (Glassdoor est.),Data Scientist
3,"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",$100 to $500 million (USD),Manufacturing,Electrical & Electronic Manufacturing,Company - Public,2000,501 to 1000 employees,"Bad Ragaz, Switzerland","Newton, MA",INFICON\n3.5,3.5,JOB DESCRIPTION:\n\nDo you have a passion for ...,$137K-$171K (Glassdoor est.),Data Scientist
4,"Commerce Signals, Cardlytics, Yodlee",Unknown / Non-Applicable,Business Services,Advertising & Marketing,Company - Private,1998,51 to 200 employees,"New York, NY","New York, NY",Affinity Solutions\n2.9,2.9,Data Scientist\nAffinity Solutions / Marketing...,$137K-$171K (Glassdoor est.),NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,-1,$100 to $500 million (USD),Finance,Investment Banking & Asset Management,Company - Private,1995,1001 to 5000 employees,"Coral Gables, FL","Coral Gables, FL",Bayview Asset Management\n3.7,3.7,POSITION SUMMARY\n\n\nThe candidate will be jo...,$79K-$131K (Glassdoor est.),Data Engineer
685,-1,Unknown / Non-Applicable,Information Technology,Internet,Company - Private,2012,501 to 1000 employees,"New York, NY","New York, NY",Via Transportation\n3.7,3.7,"As a Data Scientist, you'll utilize advanced q...",$79K-$131K (Glassdoor est.),Data Scientist
686,"Luxoft, EPAM, Capgemini Invent",$50 to $100 million (USD),Information Technology,Enterprise Software & Network Solutions,Company - Private,2006,1001 to 5000 employees,"San Ramon, CA","Santa Clara, CA",Grid Dynamics\n4.0,NaN,"As a member of the Data Science team, this rol...",$79K-$131K (Glassdoor est.),Data Scientist
687,-1,Unknown / Non-Applicable,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Company - Private,2015,501 to 1000 employees,"Chicago, IL","Chicago, IL",Tempus Labs\n3.3,3.3,Passionate about precision medicine and advanc...,$79K-$131K (Glassdoor est.),Data & Machine Learning Scientist
688,Sequenom,Unknown / Non-Applicable,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Company - Private,-1,1 to 50 employees,"Brisbane, CA","Brisbane, CA",CareDx\n2.5,2.5,"Headquartered in Brisbane, Calif., CareDx, Inc...",$79K-$131K (Glassdoor est.),Data Scientist - Machine Learning

In [23]:
df.loc[:,::2]

,C_Competitors,C_Sector,C_Ownership Type,C_Size,C_Location,C_Rating,J_Salary
0,"EmblemHealth, UnitedHealth Group, Aetna",Insurance,Nonprofit Organization,1001 to 5000 employees,"New York, NY",3.1,$137K-$171K (Glassdoor est.)
1,-1,Business Services,Company - Public,5001 to 10000 employees,"Chantilly, VA",4.2,$137K-$171K (Glassdoor est.)
2,-1,Business Services,Private Practice / Firm,1001 to 5000 employees,"Boston, MA",3.8,$137K-$171K (Glassdoor est.)
3,"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",Manufacturing,Company - Public,501 to 1000 employees,"Newton, MA",3.5,$137K-$171K (Glassdoor est.)
4,"Commerce Signals, Cardlytics, Yodlee",Business Services,Company - Private,51 to 200 employees,"New York, NY",2.9,$137K-$171K (Glassdoor est.)
...,...,...,...,...,...,...,...
684,-1,Finance,Company - Private,1001 to 5000 employees,"Coral Gables, FL",3.7,$79K-$131K (Glassdoor est.)
685,-1,Information Technology,Company - Private,501 to 1000 employees,"New York, NY",3.7,$79K-$131K (Glassdoor est.)
686,"Luxoft, EPAM, Capgemini Invent",Information Technology,Company - Private,1001 to 5000 employees,"Santa Clara, CA",NaN,$79K-$131K (Glassdoor est.)
687,-1,Biotech & Pharmaceuticals,Company - Private,501 to 1000 employees,"Chicago, IL",3.3,$79K-$131K (Glassdoor est.)
688,Sequenom,Biotech & Pharmaceuticals,Company - Private,1 to 50 employees,"Brisbane, CA",2.5,$79K-$131K (Glassdoor est.)

In [24]:
df.loc[:,::-1]

,J_Title,J_Salary,J_Description,C_Rating,C_Name,C_Location,C_Headquarters,C_Size,C_Founded,C_Ownership Type,C_Industry,C_Sector,C_Revenue,C_Competitors
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,NaN,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,Data Engineer,$79K-$131K (Glassdoor est.),POSITION SUMMARY\n\n\nThe candidate will be jo...,3.7,Bayview Asset Management\n3.7,"Coral Gables, FL","Coral Gables, FL",1001 to 5000 employees,1995,Company - Private,Investment Banking & Asset Management,Finance,$100 to $500 million (USD),-1
685,Data Scientist,$79K-$131K (Glassdoor est.),"As a Data Scientist, you'll utilize advanced q...",3.7,Via Transportation\n3.7,"New York, NY","New York, NY",501 to 1000 employees,2012,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,-1
686,Data Scientist,$79K-$131K (Glassdoor est.),"As a member of the Data Science team, this rol...",NaN,Grid Dynamics\n4.0,"Santa Clara, CA","San Ramon, CA",1001 to 5000 employees,2006,Company - Private,Enterprise Software & Network Solutions,Information Technology,$50 to $100 million (USD),"Luxoft, EPAM, Capgemini Invent"
687,Data & Machine Learning Scientist,$79K-$131K (Glassdoor est.),Passionate about precision medicine and advanc...,3.3,Tempus Labs\n3.3,"Chicago, IL","Chicago, IL",501 to 1000 employees,2015,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,-1
688,Data Scientist - Machine Learning,$79K-$131K (Glassdoor est.),"Headquartered in Brisbane, Calif., CareDx, Inc...",2.5,CareDx\n2.5,"Brisbane, CA","Brisbane, CA",1 to 50 employees,-1,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,Sequenom

In [ ]:
df = df.loc[:,::-1]

In [ ]:
df.head()

In [ ]:
##With the columns in place, let's now check the datatypes of the columns
df.info()

## Task 4

The company rating (C_rating) has `NaNs` and is of `object` type. Clean the column by imputing the nulls and converting the column to numeric type

### Task 4.1 - Check if nulls are the only impurities present here and why the column is of 'object' type

In [ ]:
##Let's directly convert it to a numeric type and see what results we get
## For NaNs we'll coerce the errors later, for now let's check if there are some other types of errors or not
pd.to_numeric(df.C_Rating)

Okay, based on the above error, apart from NaNs, it seems that some of the data contain impurities in them.  **This is because this might not be the only erroneous pattern** Let's inspect if indeed this is the case

In [ ]:
##One logic to check which types of errors exist can be to inspect the length of each of the entries in the C_Rating column
## Ideally the number should be the of the type " *.*" where * indicates a numeric digit. Hence the length should be 3
## If the length is more than 3, then it might contain an error.

for i in (df[~df['C_Rating'].isna()]['C_Rating']):
    if len(i)>3:
        print(i)

**Bonus method to find the rows which show error** [Optional Reading]

In [ ]:
for i in (df['C_Rating']):
   try: 
    pd.to_numeric(i)
   except ValueError:
    print(i)

### Task 4.2 - Check the nulls and impute it appropriately

In [ ]:
#Let's check the NaN values
df[df['C_Rating'].isna()]

We can see that the Company Rating has merged with the Company Name. So first, let's fill the NaN values with the correct rating

In [ ]:
##let's store the indexes
ix = df[df['C_Rating'].isna()].index

In [ ]:
ix

In [ ]:
lis = []

In [ ]:
for i in range(0,len(ix)):
    lis.append(df.iloc[ix[i]]['C_Name'].split('\n')[1])

In [ ]:
lis

In [ ]:
df.iloc[ix,3] = lis

In [ ]:
df.iloc[ix]

### Task 4.3 - Convert the column to the correct datatype

In [ ]:
## With the nulls imputed, we need to remove the impurities 
## Let's write a custom function to do the same

In [ ]:
def cleaner(str):
    clean_str="".join(filter(lambda x: (x in "0123456789."), str))
    return float(clean_str)

**Explanation** - The function `cleaner` takes a string and filters out all the numeric digits and the dot symbol, joins them and then converts the given string to a float value

In [ ]:
df['C_Rating'] = df['C_Rating'].apply(cleaner)

In [ ]:
df['C_Rating'].dtype

In [ ]:
df['C_Rating'].describe()

#### Learner Task - Clean the company name column

In [ ]:
df.head(5)

In [ ]:
df['C_Name']= df['C_Name'].apply(lambda x: x.split('\n')[0])

In [ ]:
df.head()

#### Learner Task - Clean the Job_Title column by using the Mode functionality

## Task 5
There are -1s throughout the dataframe which are erroneous values. Remove all the rows which contains them.

In [ ]:
df.head(10)

In [ ]:
## We'll use the df.eq operator to find all the rows which contains -1
## It will return Boolean for each of the cells in the df

In [ ]:
df.eq(-1)

In [ ]:
#Let's find the sum of -1s across each column
df.eq(-1).sum()

In [ ]:
## Interesting that it's only showing -1s in C_founded but not in any other column
##like C-Competitors for which we can clearly see the -1s
## What's the mistake in the code shown above?

The code shown above doesn't account for strings which are '-1'. Hence we need to include that condition as well

In [ ]:
#Let's use this nifty concat function which will do a bitwise OR operation since the values in both the dfs are Boolean
## Now it will show True for the ones which are encoded as "-1" as well

In [ ]:
(df2.eq(-1) + df2.eq('-1'))

In [ ]:
((df2.eq(-1) + df2.eq('-1')).sum())

*Part II* Clean the rows which have -1s in them

We'll use a method where we convert the -1s to NaNs and then drop them directly with a single function

In [ ]:
cols = df.columns

In [ ]:
for i in cols:
    df.loc[df[i].isin([-1,"-1"]), i] = np.NaN

In [ ]:
df.isna().sum()

In [ ]:
df.dropna(axis = 0,inplace = True)

In [ ]:
df.isna().sum()

In [ ]:
df.reset_index(drop = True,inplace = True)

## Task - 6 Perform hierarchical indexing using Company City and State

In [ ]:
df.head()

In [ ]:
df2 = df.copy()

In [ ]:
df['C_City']= df['C_Location'].apply(lambda x: x.split(',')[0])

In [ ]:
df.head(2)

In [ ]:
df['C_State']= df['C_Location'].apply(lambda x: x.split(', ')[1])

In [ ]:
## This might have happened if one of the entries didn't have any state
##let's check
loc = list(df.C_Location.unique())

In [ ]:
for i in loc:
    if ',' not in i:
        print(i)

In [ ]:
df[df['C_Location'].isin(['United States','Texas'])]

In [ ]:
## Let's drop the United States Location rows as they have dubious company names
df2 = df[~(df['C_Location'] =='United States')].reset_index(drop = True)

In [ ]:
df2.head()

In [ ]:
## Now let's do the split again and exclude the Texas one
## We'll add the state code TX later
df2['C_State']= df2[df2['C_Location']!='Texas']['C_Location'].apply(lambda x: x.split(', ')[1])

In [ ]:
df2.isnull().sum()

In [ ]:
df2['C_State'].fillna('TX', inplace = True)

In [ ]:
df2.isnull().sum()

In [ ]:
## Let's sort it by State
df2 = df2.sort_values('C_State')

In [ ]:
### Now let's create the hierarchical indexing without dropping the columns
df2.set_index(['C_State','C_City'], drop = False,inplace = True)

In [ ]:
df2.head()

### Task - 7 - Clean the Salary column and extract Minimum Salary and Maximum Salary

In [ ]:
df2.head()

- Thinking of using split()?
- Think of the number of operations you need to do
- Is there a better way?

#### YES!!

## Use Regular Expressions!

In [ ]:
## Regular expressions can help in faster cleaning of data and process things much easily
## Explain a bit about this
import re
re.sub('[^0-9]','',"$137K-$171K (Glassdoor est.)")

In [ ]:
df2['Salary Estimate'] = df2['J_Salary'].apply(lambda x : re.sub('[^0-9-]','',x))
df2.head()

In [ ]:
df2.insert(2, 'MinSal', df2['Salary Estimate'].apply(lambda x: float(x.split('-')[0])))
df2.head()

In [ ]:
df2.insert(3, 'MaxSal', df2['Salary Estimate'].apply(lambda x: float(x.split('-')[1])))
df2.head()

In [ ]:
df2[['MinSal','MaxSal']].describe()

## Task - 8 Binning the Min Sal and Max Sal columns

In [ ]:
df3 = df2.copy()

In [ ]:
df3['MinSalRange'] = pd.cut(df2['MinSal'],bins=[56,100,160,330],labels = ['L','M','H'])

In [ ]:
df3.head(10)

In [ ]:
##Let's ask pandas to do it automatically with pd.qcut

df3['MaxSalRange'] = pd.qcut(df3['MaxSal'],q=3,labels = ['L','M','H'])

In [ ]:
df3['MaxSalRange']